
*{
    margin:0;
    padding:0;
}
.navbar{
    /* font-size:  ; */
    height:10vh;
}
.dark{
    background-color: rgb(0, 0, 0);
}
.logo{
    margin-left:10%;
    margin-right: 30vw;
    font-size: 1.2rem;
}
.logo p{
    color:white;
    display:inline;
    font-weight: bold;
    
}

.logo span{
    font-weight: bold;
    color:blue;
}

#home{
    content:"";
    background: url('Assets/keyboard.jpg') no-repeat center center/cover;  
    height:90vh;
    padding:10%;
    
}
.cont{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.cont h1{
    font-size: 4rem;
    margin-bottom: 5%;
}
.cont span{
    color:blue;
}
#homelink{
    margin:4%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.foot{
    background-color: #040919;
    color:white;
}
section img{
    filter:invert(1);

}
.col-2 span{
    color: blue;
}
.pskills h5{
font-size:3rem;
color:rgb(84, 34, 236);
width:30vw;
margin:auto;
text-align: center;
}
.skill{
    border: 2px solid rgb(147, 5, 160);
    border-radius: 20%;
    margin:0.6rem 0.7rem;
    width:60vw;
    height:25vh;
}
.skill h3{
    text-align: center;
    font-size: 2.2rem;
}
.note{
    display:flex;
    
    
}
.skills{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.note p{
    font-size: 100.2%;
}
.note img{
    width:6rem;
    height:15vh;
    /* margin:3rem; */

}
.front img{
    width:4rem;
    height:4rem;
    margin:1.1rem;
}
#experience h1{
    font-size:3rem;
color:rgb(84, 34, 236);
width:30vw;
margin:auto;
text-align: center;
}
.row{
    display:flex;
    width:90vw;
    height:50vh;
    margin:2px 93px;
    margin-bottom: -5rem;
    justify-content: center;
    align-items: center;
}
.work{
    display:flex;
    flex-direction: column;
    border:6px solid rgb(244, 10, 189);
    width:28vw;
    border-radius: 10%;
    margin:8% 6%;
    height:33vh;
}
.work p{
    font-size: 0.82rem;
}
.work a{
    font-size: 0.82rem;
    display:inline-block;
    width:10vw;
}
.projects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project{
    border: 2px solid cyan;
    margin:5px 3px;
    width:80vw;
}
.project h4{
    text-align: center;
}